# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.ЯЮНИОР1.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\thesy\Desktop\Education\Unity Projects\ЯЮНИОР1\.idea\.idea.ЯЮНИОР1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
